<div class="header">

  <mat-toolbar color="accent">
    <mat-toolbar-row>
      <a class="logo" [routerLink]="['/']">AiBlog</a>
      <span class="spacer"></span>
      <button [routerLink]="['/admin']" mat-icon-button aria-label="Example icon-button with menu icon">
        <mat-icon>admin_panel_settings</mat-icon>
      </button>
    </mat-toolbar-row>
<!--    <mat-toolbar-row class="navbar">-->
<!--      <a [routerLink]="['/']">Posts</a>-->
<!--      <a [routerLink]="['/post', 1]">Post 1</a>-->
<!--      <a [routerLink]="['/post', 2]">Post 2</a>-->
<!--      <a [routerLink]="['/post', 3]">Post 3</a>-->
<!--    </mat-toolbar-row>-->
  </mat-toolbar>
</div>




