@import "palettes";

/* Breakpoints */
$bp-xxl: 1400px;
$bp-xl: 1200px;
$bp-lg: 992px;
$bp-md: 768px;
$bp-sm: 576px;
$bp-xs: 350px;

/* Colors */
$color-primary:  mat-color($app-black-white-palette, 900);
$color-accent:  mat-color($app-black-white-palette, 100);

$body-background-color: #E2E2E2;
$paper-background-color: #FFFFFF;

$divider-color: #333333;

$text-color-primary: #333333;


/* Transition */
$transition-1: .25s;
